*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100px;
    height: 100px;
    background-color: red;
}
.a{

    width: 100px;
    height: 100px;
    background-color: black;
}
.header{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}